<h1>CRUDE NODEJS</h1>


<a href="list"><button class="btn btn-primary">Lista todos</button></a>
<a href="insert"><button class="btn btn-secondary">Inserir</button></a>
<a href="update"><button class="btn btn-alert">Atualizar</button></a>
<a href="delete"><button class="btn btn-danger">Deletar</button></a>